# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore Dockerfile
Dockerfile.basic

# Ignore Docker Compose file
docker-compose.yml

# Ignore any local development files
.vscode
.idea

# Ignore test directories
tests
__tests__

# Ignore build directories
dist
build

# Ignore temporary files
*.tmp
*.swp